html, body{
  height: 100%;
}
body{
  background-color: #F6EE55;
  //background-image: url("img/yellow.jpg");
  background-size:cover;
  background-repeat: no-repeat;


}

.nav{
  float: right;
  margin: 30px 80px 0 0;


}
 ul li{

  list-style-type: none;
  font-size: 18px;
  font-weight:bold;
  text-transform: lowercase;
  font-style: normal;
  letter-spacing: 3px;
  text-decoration: none;
  line-height: 2em;
  display:inline;
  margin:10px;
}
a{
  font-family: 'Comfortaa', cursive, bold;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  color: black;
  opacity: 1;
  font-weight: bold;
}


.company{
  font-family: 'Comfortaa', cursive;
  //font-family: 'IBM Plex Serif', serif, bold;
  text-transform: lowercase;
  margin:5px 0 0 50px;
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 0.3;
  opacity: 1;
  color: black;
}

h1{
  font-weight:900;
}
p{
  line-height: normal;
  text-transform: lowercase;
  font-style: italic;
  font-size: 14px;
}
.slogan  {
  text-align: center;
  text-transform: lowercase;
  font-family: 'Comfortaa', bold;
  //text-align: left;
  line-height: 0.5;
  font-size: 30px;
  opacity: .3;
  color: black;
  //margin-left: 50px;
}
.footer img{
  opacity: 0.4;
  margin:0;
  padding: 0;
}
